img{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 15%;
}

p{
    text-align: center;
    color: rgb(166, 199, 19);
    font-size: 25px;
}

h1{
    color: rgb(39, 143, 48);
    font-size: 35px;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
}

h2{
    color: rgb(39, 143, 48);
    font-size: 28px;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}